.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  font-size: 18px;
}

.field {
  width: 350px;
  border: 1px solid #696969;
  border-radius: 8px;
  padding: 10px;
  outline: none;
}
